.parameter {
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
  width: 110px;
}

.specialSpan {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}

.specialImage {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.specialText {
  display: flex;
  justify-content: center;
  align-items: center;
}
