* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: inline-block;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px 5px;
  min-width: 250px;
  min-height: 230px;
  background-color: rgba(100, 0, 100, 0.65);
}

.container input {
  font-size: 1rem;
  border: 1px black;
  border-radius: 5px;
  padding: 2px 3px;
}
