* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: inline-block;
  justify-content: center;
  border-radius: 5px;
  padding: 10px 5px;
  width: 290px;
  background-color: rgba(100, 0, 100, 0.65);
}

.container input {
  font-size: 1rem;
  border: 1px black;
  border-radius: 5px;
  padding: 2px 3px;
  max-width: 170px;
}

.container button {
  border: 2px black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 2px 3px;
  margin-left: 10px;
  background-color: #f3f3f3;
}

.container button:hover {
  border-width: 4px;
  background-color: #aaaaaa;
}

.error {
  color: rgb(215, 0, 0);
  font-size: 1.05rem;
  margin-top: 5px;
}

.cityName,
.weatherImage,
.mainWeather,
.weatherDescription,
.temperature,
.feelsLike {
  display: block;
  width: auto;
  text-align: center;
  margin: 0 auto;
}

.cityName {
  margin-top: 15px;
  font-size: 2rem;
}

.weatherImage {
  background-color: #5ba6bd;
  border-radius: 50%;
  margin: 15px auto;
}

.mainWeather {
  font-size: 1.3rem;
}

.weatherDescription,
.feelsLike {
  margin-bottom: 15px;
}

.temperature {
  font-size: 1.7rem;
}

.specials {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

.specialSpan {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}

.specialImage {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.specialText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minTemp,
.maxTemp,
.humidity,
.wind {
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
  width: 110px;
}
