<div class="container">
  <app-city-form
    [errorMessage]="errorMessage"
    (nameSubmited)="getWeather($event)"
  ></app-city-form>
  <ng-container
    *ngIf="
      currentCity && currentCityWeather && currentCity.name !== '';
      else noCity
    "
  >
    <h2 class="container__weatherInfo container__cityName">
      {{ currentCity | cityName }}
    </h2>
    <img
      src="http://openweathermap.org/img/wn/{{
        currentCityWeather.weather[0].icon
      }}@2x.png"
      alt="weather icon"
      class="container__weatherInfo container__weatherImage"
    />
    <p class="container__weatherInfo container__mainWeather">
      {{ currentCityWeather.weather[0].main }}
    </p>
    <p class="container__weatherInfo container__weatherDescription">
      {{ currentCityWeather.weather[0].description }}
    </p>
    <p class="container__weatherInfo container__temperature">
      {{ currentCityWeather.main.temp }} °C
    </p>
    <p class="container__weatherInfo container__feelsLike">
      feels like: {{ currentCityWeather.main.feels_like }} °C
    </p>
    <div class="container__specials">
      <!-- эти 4 diva одинаковые, можно создать под них компонент и прокидывать туда картинку либо через content projection, либо просто как input -->
      <div class="container__specials__parameter">
        <span class="container__specials__specialSpan">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2756/2756899.png"
            alt="min temp"
            class="container__specials__specialImage"
          />
          min</span
        >
        <p class="container__specials__specialText">
          {{ currentCityWeather.main.temp_min }} °C
        </p>
      </div>
      <div class="container__specials__parameter">
        <span class="container__specials__specialSpan">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5319/5319733.png"
            alt="max temp"
            class="container__specials__specialImage"
          />
          max</span
        >
        <p class="container__specials__specialText">
          {{ currentCityWeather.main.temp_max }} °C
        </p>
      </div>
      <div class="container__specials__parameter">
        <span class="container__specials__specialSpan">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2903/2903592.png"
            alt="humidity"
            class="container__specials__specialImage"
          />
          min</span
        >
        <p class="container__specials__specialText">
          {{ currentCityWeather.main.humidity }}%
        </p>
      </div>
      <div class="container__specials__parameter">
        <span class="container__specials__specialSpan">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2011/2011448.png"
            alt="wind"
            class="container__specials__specialImage"
          />
          wind</span
        >
        <p class="container__specials__specialText">
          {{ currentCityWeather.wind.speed }} m/s
        </p>
      </div>
    </div>
  </ng-container>
  <ng-template #noCity>
    <h2 class="weatherInfo cityName">No city</h2>
  </ng-template>
</div>
